
body{
    background-color: black;
}

/*-----------------------------------------------------------
Parts of Pages
-----------------------------------------------------------*/

header{
    padding: 1%;
    margin: 3%;
    border-radius: 20px;
    background-color: rgb(34, 76, 116);
    color: White;
}

main{
    margin: 3%;
    padding: 3%;
    background-color: rgb(18, 24, 31);
    color: rgb(194, 194, 194);
    text-align: justify;
    border-radius: 20px;
}

footer{
    color: rgb(34, 76, 116);
    margin: 3%;
    text-align: center;
}

/*-----------------------------------------------------------
OTHERS
-----------------------------------------------------------*/

.Empty{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    height: 80px;
}

.END{
    text-align: left;
}

.Presentation{
    color: rgba(255, 255, 255, 0.452);
}

hr{
    background-color: rgb(32, 73, 107);
    border: none;
    height: 2px;
}

/*-----------------------------------------------------------
TITLES
-----------------------------------------------------------*/

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

/*-----------------------------------------------------------
DIALOG
-----------------------------------------------------------*/

.DialogoCerdito1{
    background-color: rgba(75, 72, 35, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.DialogoCerdito2{
    background-color: rgb(35, 75, 47, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.DialogoCerdito3{
    background-color: rgb(35, 57, 75, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.DialogoLobo{
    background-color: rgb(75, 35, 35, 0.5);
    border-radius: 10px;
    padding: 5px;
}

/*-----------------------------------------------------------
IMAGES
-----------------------------------------------------------*/

img{
    max-width: 100%;
    border-radius: 20px;
}